.admin-page {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  flex: 0 0 200px;
  background-color: #f5f5f5;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #eaeaea;
  transition: background-color 0.3s ease;
  padding: 10px;
  margin-bottom: 10px;
}

.sidebar li:hover {
  background-color: #675a5a;
  color: white;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}

/* Optional: Style for the active menu option */
.sidebar li.active {
  color: white;
  background-color: #151212;
}

.footer {
  background-color: #333030;
  color: white;
  padding: 10px;
  text-align: center;
  flex-shrink: 0;
}

